# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Dataset
data/
dataset/
datasets/
processed_patches_stage4/
processed_patches_severe/

# Model weights / outputs
checkpoints/
weights/
runs/
outputs/
*.pt
*.pth
*.ckpt
*.safetensors

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# OS files
Thumbs.db
.DS_Store

#zip
*.zip