# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Dataset
data/
dataset/
datasets/

# Model weights / outputs
checkpoints/
weights/
runs/
*.pt
*.pth
*.ckpt
*.safetensors

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# OS files
Thumbs.db
.DS_Store